* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  background-color: black;
}

a:hover {
  font-weight: 900;
  font-size: 18px;
  color: white;
}
.container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(6, auto);
  text-align: center;
  padding-bottom: 25px;
}

/* .one,
.two,
.three,
.four,
.five,
.six,
.seven {
  grid-row: 6;
  font-size: 16px;
} */

.caroni-font:hover {
  color: white;
  background-color: black;
}

.caroni-font {
  margin-left: 5%;
  display: inline-block;
  font-weight: 100;
  letter-spacing: 20px;
  color: black;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

/* .one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover,
.six:hover,
.seven:hover {
  font-weight: 900;
  font-size: 18px;
  color: white;
} */

#instructions_for_strangers {
  text-align: center;
  font-weight: 100;
  color: black;
  font-size: 30px;
}

.design-methods {
  grid-row: 6;
  grid-column: 3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.behavior {
  grid-row: 6;
  grid-column: 4;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 2fr 0.8fr;
  grid-template-rows: repeat(10, auto);
  grid-row-gap: 10px;
  line-height: 30px;
  justify-items: center;
}

#intro,
#aeiou,
#behavior-map,
#brainstorm,
#concept-sketch,
#prototype,
#expectations,
#reflection {
  grid-column: 2;
}

.highlighter {
  background-color: rgb(255, 198, 92);
  font-weight: 900;
}

/*Footer*/
footer {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  bottom: 0;
  padding: 30px;
  font-size: 16px;
  font-weight: 400;
}

header {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  padding: 30;
  font-size: 24;
}
