* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  background-color: black;
}

.container {
  display: inline-grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(6, auto);
  grid-column-gap: 60px;
  justify-items: center;
}

.one {
  grid-row: 6;
  grid-column: 3;
  font-size: 16px;
}

.two {
  grid-row: 6;
  grid-column: 4;
  font-size: 16px;
}

.three {
  grid-row: 6;
  grid-column: 5;
  font-size: 16px;
}
.four {
  grid-row: 6;
  grid-column: 6;
  font-size: 16px;
}

.five {
  grid-row: 6;
  grid-column: 7;
}
.caroni-font:hover {
  color: white;
  background-color: black;
}

.caroni-font {
  margin-left: 5%;
  display: inline-block;
  font-weight: 100;
  letter-spacing: 20px;
  color: black;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover {
  background-color: black;
  font-weight: 900;
  color: white;
}

.instructions_for_strangers {
  text-align: center;
  font-weight: 100;
  color: black;
  font-size: 30px;
}

.design-methods {
  grid-row: 6;
  grid-column: 3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.behavior {
  grid-row: 6;
  grid-column: 4;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 2fr 0.8fr;
  grid-template-rows: repeat(10, auto);
  grid-row-gap: 10px;
  line-height: 30px;
  justify-items: center;
}

#intro {
  grid-column: 2;
  grid-row: 1;
}

#aeiou {
  grid-column: 2;
  grid-row: 2;
}

#behavior-map {
  grid-column: 2;
}

#brainstorm {
  grid-column: 2;
}

#concept-sketch {
  grid-column: 2;
}
